.report-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.report-handling-button{
    width: 100px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    outline: none;
}
.report-handling-button:hover{
    background-color: rgb(85, 62, 106);
    color: white;
    border: 2px solid white;
}
.report-checkbox{
    width: 20px;
    border-radius: 10px;
    background-color: rgb(67, 28, 104);
}
.backoffice-radio{
    display: flex;
    justify-content: center;
}
.backoffice-radio-button{
    width: 150px;
    height: 40px;
    font-size: 15px;
    margin-left: 1px;
    margin-right: 1px;
    border: 1px solid rgb(232, 209, 253);
    color: #575757;
    background-color: rgb(226, 212, 253);
    cursor: pointer;
}
.backoffice-radio-button-selected{
    width: 140px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 1px;
    margin-right: 1px;
    border: 1px solid rgb(232, 209, 253);
    color: #ffffff;
    background-color: rgb(165, 126, 243);
    cursor: pointer;
}

.report-info{
    width: 300px;
    height: 36px;
}

.report-title{
    font-size: 18px;
}

.report-time{

}