.report-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.report-handling-button{
    width: 100px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    outline: none;
}
.report-handling-button:hover{
    background-color: blueviolet;
    color: white;
    border: 2px solid white;
}
.report-checkbox{
    width: 20px;
    border-radius: 10px;
    background-color: blueviolet;
}