/* 기본 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 앱 컨테이너 */
.app {
  max-width: 480px; /* 모바일 크기 */
  margin: 0 auto; /* 중앙 정렬 */
  padding: 20px; /* 패딩 추가 */
}

/* 헤더 */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 130px;
  padding: 10px;
  margin-top: 26px;
}

.main-login-button{
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background-color: #a882ff;
  color: rgb(239, 239, 239);
  border: none;
  font-family: 'jua';
  font-size: 16px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.main-login-button:hover{
  background-color: #bea2ff;
}

.logo-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-img-home {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
}

.logo-img-home img {
  width: 170px;
  height: 40px;
}

.user-icon-container {
  margin-left: auto;
  width: auto;
  height: 36px;
  /* cursor: pointer; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

.user-nickname {
  width: 200px;
  height: 36px;
  font-size: 15px;
  color: #3C3C3C;
  display: flex; 
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 8px;
  margin-top: 5px;
}

.user-name-box {
  margin-left: 10px;
  font-size: 15px;
  color: #3C3C3C;
  /* min-width: 100px; */
  height: 18px;
  font-family: 'jua';
}

.user-welcome {
  margin-left: 10px;
  font-size: 15px;
  color: #3C3C3C;
  min-width: 100px;
  height: 18px;
  text-align: end;
  font-family: 'jua';
  /* text-align: center;
  display: flex; 
  align-items: center;
  justify-content: center; */
}

.user-icon-container img {
  width: 34px;
  height: 42px;
  
}

.logo-text {
  text-align: left;
  font-size: 10px;
  color:#505050
}

.logo-text-logout {
  width: 100%;
  display: flex;
  align-items: center;
}

.logout-button{
  background-color: rgb(212, 171, 250);
  width: 62px;
  color: white;
  border: none;
  padding: 3px;
  border-radius: 8px;
  margin-right: 0 auto;
  font-family: 'jua';
}

.logout-button:hover{
  background-color: rgb(183, 124, 238);
}

.main-content {
  margin-top: 30px;
  margin-bottom: 100px;
}   /* footer가 생기면 삭제 요망 */

/* MBTI 테스트 섹션 */
.mbti-test-card {
  width: 440px;
  height: 440px;
  background-color: #f5f5f5;
  display: flex; /* Flex박스를 사용하여 자식 요소들을 정렬 */
  flex-direction: column-reverse; /* 자식 요소들을 세로 방향으로 정렬. reverse뺴고 */
  align-items: flex-end; /* 자식 요소들을 수직 방향의 끝(아래쪽)에 배치 */
  align-self: auto; /* 현재 요소의 부모 컨테이너 내에서의 정렬 방식을 자동으로 설정(기본값) */
  border-radius: 10px; /* 모서리를 둥글게 (10px) */
  /* 아래는 이미지 삽입으로 인해 추가 */
  position: relative;
  overflow: hidden;
  border: 6px solid #e3ccf6;
}

.mbti-image {
  width: 100%;
  height: auto;
}

.mbti-test {
  position: absolute; /* 자식 박스가 가려지지 않고 위에 위치하게 */
  width: 260px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center; /* 자식 요소들을 가로 방향으로 중앙에 배치 */
  align-items: center; /* 자식 요소들을 세로 방향으로 중앙에 배치 */
  align-self: center; /* 현재 요소를 부모 컨테이너 내에서 가로 방향으로 중앙에 배치 */
  text-align: center; /* 텍스트 중앙 배치 */
  background-color: #ffffff7e;
  gap: 10px; /* 자식 요소들 사이에 20px의 간격을 추가 */
  white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 */
  opacity: 0.9;
  border-radius: 5px;
  margin-bottom: 40px;
}

.mbti-test h2 {
  color: #b966fe;
  font-size: 25px;
  margin: 0;
}

.mbti-test button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'jua';
  color: #fff;
  background-color: #b966fe;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: bold;
}


/* 다른 MBTI 섹션 */
.other-mbti, 
.snack {
  display: flex;
  height: 75px;
  gap: 15px;
  padding-top: 50px;
  margin-top: 20px;
  font-size: 25px;
  color: #421157;
  margin-bottom: 20px;
  align-items: center;
}

.other-mbti-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* 스낵 스타일 */
.snack-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* 바로가기 */
.go-point {
  display: flex;
  width: 24px;
  height: 24px;
  margin-top: 10px;
}
.go-point img {
  width: 24px;
  height: 24px;
}

 /* 카드 스타일 */
.slider-container2 {
  width: 100%;
  margin: 0 auto;
}

 .card-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: 20px 0;
}

.card-list2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
}


.card {
  position: relative; /* 자식 요소의 절대 위치 지정을 위해 relative 설정 */
  width: 300px; /* 카드의 너비를 300px로 설정 */
  height: 400px; /* 카드의 높이를 400px로 설정 */
  overflow: hidden; /* 카드 내용이 넘치지 않도록 설정 */
  border: 1px solid #ccc; /* 카드 테두리 */
  border-radius: 8px; /* 카드 모서리 둥글게 */
}

.card.large-card {
  width: 100%;
  max-width: 420px;
  border: 8px solid #e3ccf6;
}

.card.undefined {
  border: none;
}

.large-card .card-image {
  width: 100%;
  height: 100%;
  padding: 0;
  object-fit: cover; /* 이미지가 부모 요소의 크기에 맞게 조정 */
}

.card-image {
  width: 100%; /* 이미지가 카드의 너비에 맞게 조정 */
  height: auto; /* 이미지 비율 유지 */
  margin: 0 auto;
  padding-top: 10px;
}

.card-content {
  position: absolute !important;
  bottom: 0 !important;
  background-color: rgba(235, 235, 235, 0.368) !important;
  color: #ffffff !important;
  width: 100% !important;
  height: 90px !important;
  text-align: right !important;
}

.card-title {
  margin: 0 !important;
  font-size: 28px !important;
  font-weight: bold !important;
  padding-right: 10px !important;
  color: #4e177c !important;
  font-family: 'jua';
}

.card-description {
  margin: 0 !important;
  font-size: 18px !important;
  padding-right: 10px !important;
  color: #747474 !important;
  font-family: 'jua';
}

.snack-title-in {
  margin: 0 !important;
  font-size: 28px !important;
  font-family: 'jua' !important;
  padding-right: 10px !important;
  color: #6009a7 !important;
}

.snack-description-in {
  margin: 0;
  font-size: 18px;
  padding-left: 2px;
}

.card-content2 {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.446); /* 다른 배경색 */
  color: #000000; /* 다른 텍스트 색상 */
  padding: 10px;
  width: 100%;
  height: 75px;
  text-align: left;
  font-family: 'jua';
}


/* 슬릭 화살표 스타일 */
/* button.slick-arrow.slick-next, button.slick-arrow.slick-prev {
  color: black;
  z-index: 1;
} */