* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

.app {
    max-width: 480px; /* 모바일 크기 */
    margin: 0 auto; /* 중앙 정렬 */
    padding: 20px; /* 패딩 추가 */
  }

 /* 헤더 */
.login-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 10px;
    margin-top: 10px;
  }
  
.login-logo-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

.login-logo-box > * {
    margin-left: auto;
}

.login-back-icon {
    width: 45px;
    height: 38px;
    cursor: pointer;
  }
  
.login-back-icon img {
    max-width: 100%;
    height: auto;
  }


/* 로고 섹션 */
.logo-section {
    display: flex;
    margin: 0 auto;
    width: 340px;
    margin-top: 20px; 
}

.logo{  
    display: flex;
    width: 220px;
    height: 48px;
    margin: 0 auto;
    justify-self: center;
    align-self: center;
}


/* 로그인 섹션 */

.input-container{
    padding-top: 40px;
    width: 380px;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 auto; /* 가운데 정렬 */
}

.login-input{
    border: none;
    align-self: center;
    width: 360px;
    height: 58px;
    border-radius: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.error-message {
    color: red;
    margin-top: 10px;
}

.login-button{
    border: none;
    width: 360px;
    height: 58px;
    align-self: center;
    margin-top: 50px;
    font-size: 20px;  
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
    background-color: blueviolet;
    border-radius: 20px;
    color: white; 
    font-size: 20px;
}
.login-button:hover{
    background-color: rgb(162, 94, 226);
}


.find-password{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px; /* 요소 사이의 간격을 20px로 설정 */
    width: 360px;
    margin-top: 50px;
    margin-left: 40px;
}

.find-password-button{
    border: none;
    box-shadow:  3px 3px 3px 0 rgba(0, 0, 0, 0.3);
    width: 160px;
    height: 50px;
    border-radius: 20px;
    background-color: white;
    color: #b386db;
    font-size: 20px;
    font-weight: bold;
}
.find-password-button:hover{
    color: white;
    background-color: #dbc8fd;
}

/* 또는 */

.or {
    display: flex;
    align-items: center;
    color: rgb(200,200,200);
    margin-top: 40px;
    margin-bottom: 30px;
    align-self: center;
    justify-content: center;
}

.or::before,
.or::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid rgb(200,200,200);
    margin: 0 10px; 
}


/* 소셜 로그인 */

.oauth-container{
    display: flex;
    justify-content: center;
}

.oauth-logo{
    margin-left: 20px;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.right{
    margin-top: 40px;
    margin-bottom: 40px;
    color: rgb(200,200,200);
    font-size: 20px;
    text-align: center;
}