.report{
    border: 1px solid #a882ff;
}
.report-post-content{
    height: 200px;
    padding: 20px;
    color: #f1556f;
    background-color: #ececec;
    font-size: 18px;
}

.report-content{
    padding: 20px;
    min-height: 100px;
    border-top: 1px solid #a882ff;
}

.ban-button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.ban-button {
    width: 130px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: #d4c1ff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin-left: 30px;
}
.ban-button:hover{
    background-color: blueviolet;
    border: 2px solid;
    border-color: rgb(214, 187, 241);
}