.welcome-text{
    color: rgb(100, 100, 100);
    font-size: 13px;
    margin-top: 26px;
    margin-bottom: 50px;
    text-align: center;
}

/* 회원가입 입력컨테이너 */
.register-input-container{
    display: flex;
    flex-direction: column;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.register-input-title{
    text-align: left;
    font-size: 18px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.register-input-wrapper{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.register-input{
    text-align: center;
    border-radius: 10px;
    height: 40px;
    resize: none;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
}

/* .register-input-container-password{
    display: flex;
    flex-direction: column;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
} */

.register-input::placeholder{
    line-height: 40px;
}

.regist-check-button{
    width: 74px;
    height: 24px;
    align-self: end;
    margin-top: 7px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgb(209, 209, 209);
    border: none;
    color:white;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
}

/* .register-input-container-password{
    text-align: left;
    font-size: 18px;
    font-weight: bold;
} */

.password-input.password-input{
    margin-bottom: 10px;
}


.password-input::placeholder{
    line-height: 40px;
}

.error-and-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.error-message{
    color: red;
    font-size: 12px;
    margin-top: 10px;
    padding-left: 10px;
    margin-right: 10px;
}


.registration-button{
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: rgb(154, 81, 223);
    color: white;
    font-size: large;
    font-weight: bold;
    cursor: pointer; 
}

.password-input {
    margin-bottom: 20px; /* 비밀번호 칸들 사이에 거리 추가 */
}