.balance-post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border: 1px solid #c8adf4;
    border-radius: 16px;
    width: 400px;
    height: auto;
}

/* 로고 스타일 */
.logo {
    position: relative; /* 상대 위치 */
    z-index: 10; /* 높은 z-index 값 */
}

/* 기존 스타일 */
.balance-post-header {
    display: flex;
    justify-content: space-between; /* 왼쪽과 오른쪽으로 배치 */
    align-items: center;
    width: 100%;
    height: 60px;
    color: #858585;
    position: relative; /* 자식 요소의 절대 위치를 위한 상대 위치 */
    z-index: 1; /* 낮은 z-index 값 */
    padding-top: 10px;
}

/* 게시글 제목 */
.balance-post-title {
    font-size: 20px;
    text-align: left; /* 왼쪽 정렬 */
    align-items: center;
    width: auto; /* 가변 너비 */
    position: absolute; /* 고정된 위치 */
    left: 24px; /* 왼쪽 여백 */
    color:#575757
}

.balance-post-writer {
    font-size: 12px;
    font-weight: bold;
    text-align: right; /* 오른쪽 정렬 */
    position: absolute; /* 고정된 위치 */
    padding-top: 34px;
    right: 30px; /* 오른쪽 여백 */
}

/* 버튼 섹션 */
.balance-post-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 300px;
    gap: 20px;
    padding: 6px;
}

.balance-post-left, .balance-post-right {
    width: 160px;
    height: 280px;
    border-radius: 10px;
    border: none;
    background-color: #eaeaea;
    margin: 0 10px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color:#696868;
    transition: background-color 0.3s;
}

.selected {
    background-color: #e0d3ff;
}

.compressed {
    font-size: 0.8em;
}

/* 투표 결과 표시 */
.vote-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 140px;
}

.vote-percentage {
    font-weight: bold;
    font-size: 28px;
    margin-top: 30px;
}

.vote-count {
    font-weight: bold;
    font-size: 18px;
    margin-top: 4px;
}

.vote-mbti-title {
    font-weight: bold;
    font-size: 11px;
    margin-top: 30px;
}

.vote-mbti {
    font-size: 14px;
}


/* 좋아요, 댓글 수*/
.balance-post-count {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 34px;
    margin-top: 14px;
    gap: 10px;
}

.balance-post-heart-count-section, .balance-post-comment-section  {
    display: flex;
    align-items: center;
    width: auto;
    height: 40px;
    font-size: 20px;
    margin-left: 10px;
}

.balance-post-heart-count, .balance-post-comment-count {
    font-size: 16px;
    font-weight: bold;
    color: #858585;
    margin-left: 4px;
}


/* 댓글 컨테이너 */
.balance-comment-container {
    font-size: 14px;
    color: #545454;
    text-align: left;
    padding-left: 6px;
    width: 100%;
  }

  .balance-comment-list{
    display: flex;
    width: 92%; /* 너비를 90%로 설정 */
    height: 60px;
    flex-direction: row;
    border-top: 1px solid #ccc;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
  }
  
  .balance-comment-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    left: 0;
  }
  
  .balance-comment-text {
    font-size: 13px;
    color: #3C3C3C;
    text-align: left;
    height: 100%;
    width: 230px;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .balance-comment-time{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    font-size: 10px;
    color: #9d9d9d;
  }

/* .balance-comment-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
} */

/* .balance-comment-heart-button {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.balance-comment-alert-button {
    width: 100px;
    height: 100px;
    border: 1px solid black;
} */


/* 댓글 입력 */
.balance-comment-input {
    display: flex;
    width: 100%;
    height: 40px;
    padding: 10px;
    padding-top: 35px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
  }
  
.balance-comment-input-field {
    display: flex;
    width: 370px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 5px;
  }
  
.balance-comment-send-button {
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
    right: 0;
    margin-left: 6px;
  }
  
.balance-comment-send-button img {
    width: 40px;
    height: 36px;
  }