@font-face {
  font-family: 'Jua-Regular';
  src: url('../../font/Jua-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.balance-game-container {
    width: 400px;
    height: 660px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #c8adf4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
.balance-game-title{
  font-size: 22px;
  font-family: 'Jua-Regular', sans-serif;
  color: #2D0057;
  height: 20px;
}

.balance-game-question{
  font-size: 16px;
  color: #565656;
  margin-top: 30px;
  padding: 0 6px;
  margin-bottom: 6px;
}

.balance-game-selectbox{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #c8adf4;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
}
 
.balance-game-question-container{
  display: flex;
  flex-direction: column;
  font-family: 'Jua-Regular', sans-serif;
}

.selectbox-button{
  width: 360px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #c8adf4;
}

.left-option-title, .right-option-title{
  width: 120px;
  height: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: 'Jua-Regular', sans-serif;
  padding: 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vs{
  width: 28px;
  font-size: 26px;
  color: red;
}

.selectbox-count{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  height: 40px;
  font-size: 14px;
  font-family: 'Jua-Regular', sans-serif;
  padding-left: 16px;
  color: #565656;
}

.balance-status{
  margin-left: auto;
  margin-right: 20px;
}


.suggest-button {
    background-color: #a674f5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 14px;
    font-size: 14px;
    font-family: 'Jua-Regular', sans-serif;
    cursor: pointer;
    margin: 26px auto;
    width: 150px;
    display: block;
  }
  
  .suggest-button:hover {
    background-color: #8c5fe3;
  }

