.content-input{
    margin-top: 20px;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
}

.content-input-textarea{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 400px;
    min-height: 80px;
    border: none;
    resize: none;
    outline: none;
    color: #959595;
}

.title-input{
    width: 100%;
    height: 200px;
    max-height: 200px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
}

.title-input-textarea{
    width: 100%; 
    height: 200px;
    font-size: 18px;
    border: none;
    resize: none;
    outline:none;
    height: 200px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: left;
    padding-left: 10px;
    vertical-align: top;
    padding-top: 9px;
}

.title-input-textarea::placeholder{
    width: 100%;
    height: 190px;
    color: #959595;
}

.game-registration-button-container {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    margin-top: 50px;
}

.game-registration-button{
    width: 140px;
    height: 40px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
    background-color: #a882ff; 
    color: #ffffff;
    font-size: 18px;
    font-family: 'jua';
}
.game-registration-button:hover{
    background-color: blueviolet;
    color: white;
    border: none;
}