.snackmain-title {
    text-align: left;
    width: 420px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    color: #2D0057;
}

.snackmain-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 420px;
    height: 560px; 
    margin-top: 10px;
    gap: 22px;
}

.imagegame, .balancegame, .MBTMI {
    position: relative;
    width: 400px;
    height: 228px;
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.imagegame img, .balancegame img, .MBTMI img {
    width:  400px;
    height: auto;
    border-radius: 15px;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    pointer-events: none;
}