.testbox-container{
    display: flex;
    align-content: center;
    /* margin-left: 525px; */
    justify-content: center;
    margin: 0 auto;
    width: 400px;
    height: 300px;
    
}

.test-box{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-self: center;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    /* border: 1px solid black; */
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    /* font-family: 'BlackHanSans'; */
}
.test-number{
    align-self: end;
    margin-right: 50px;
    font-size: 14px;
    color: #5e5e5e;
}
.test-content-box{
    align-self: center;
    margin-top: 40px;
    /* border: 1px solid black; */
    width: 250px;
}
.test-content{
    font-size: 20px;
    font-weight: bold;
    color:#373737;
}
.progression-bar{
    display: flex;
    flex-direction: row;
    position: relative;
}
.current-progress{
    border-radius: 10px;
    margin-left: 60px;
    margin-top: 20px;
    width: var(--progress-width);
    max-width: 280px;
    /* width: 20px; */
    transition: width 0.3s ease;
    height: 10px;
    background-color: blueviolet;
    z-index: 1;
}
.goal-progress{
    border-radius: 15px;
    margin-top: 20px;
    margin-right: 50px;
    width: var(--goal-width);
    height: 10px;
    background-color: #e3ccf6;
    position: relative;
    /* left: var(--left); */
    left: -10px;
    z-index: 0;
}
.test-response{
    border-radius: 15px;
    border: none;
    align-self: center;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    width: 350px;
    height: 50px;
    color: #5d5d5d;
    background-color: rgb(246, 246, 246);
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
}
.test-response:hover{
    background-color: blueviolet;
}
.test-response-container{
    margin-top: 0px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}