.mypage-user-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 200px; 
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.4);
}

.mypage-user-info-container-inner{
    width: 120px;
    height: 120px;
}

.mypage-user-info-container-inner img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.4);
}

.mypage-user-info-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    margin-top: 10px;
}

.mypage-user-info-section-badge {
    width: 80px;
    height: 23px;
    font-size: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ee91ce;
    color: #ffffff;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.4);
}

.mypage-user-info-section-name {
    width: auto;
    height: 24px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-left: 8px;
}


/* 버튼 컨테이너 */
.mypage-user-info-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
    margin-top: 30px;
    gap: 20px;
}

.mypage-user-info-modify-button {
    width: 180px;
    height: 80px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.4);
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.mypage-user-info-modify-button img {
    width: 20px;
    height: 25px;
}

.mypage-user-info-history-button {
    width: 180px;
    height: 80px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.4);
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.mypage-user-info-history-button img {
    width: 20px;
    height: 25px;
}


/* 나의 MBTI 컨테이너 */
.mypage-my-mbti-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
    margin-top: 14px;
}

.mypage-my-mbti-button {
    width: 380px;
    height: 70px;
    border-radius: 10px;
    background-color: #a882ff; 
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.4);
    border: none;
    cursor: pointer;
}


/* 새로운 공지사항 컨테이너 */
.mypage-new-notice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 200px;
    margin: 20px auto 0 auto;
}

.mypage-new-notice-container-title{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
    align-self: flex-start;
    margin-left: 10px;
}

.mypage-new-notice-container-banner{
    width: 380px;
    height: 140px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mypage-new-notice-container-banner img {
    width: 380px;
    height: 140px;
    border-radius: 10px;
}

.profile-img-modify-button{
    margin-left: 100px;
    position: absolute;
    margin-top: 60px;
    border-radius: 5px;
    border: 1px solid rgb(177, 159, 110);
    width: 30px;
    height: 30px;
    font-size: 18px;
    background-color: rgb(255, 231, 199);
    cursor: pointer;
}

.image-input-modal-background{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.image-input-modal{
    width: 500px;
    height: 540px;
    background-color: #ffffff;
    border-radius: 20px;
    position: relative;
}

.close-button {
    background: none;
    color: #000000;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 32px;
    cursor: pointer;
}

.profile-placeholder{
    width: 290px;
    margin-top: 80px;
    margin-left: 105px;
    border-radius: 150px;
}
.input-description{
    color: gray;
    font-size: 13px;
    margin-top: 30px;
    text-align: center;
}
.file-input-button{
    margin-top: 15px;
    margin-left: 85px;
}
.change-profile-confirm-button{
    width: 80px;
    height: 30px;
    margin-left: 15px;
    border: none;
    border-radius: 10px;
    background-color: rgb(222, 187, 255);
}
.change-profile-confirm-button:hover{
    background-color: #cd9df7;
}